body {
  text-align: center;
  background-color: #1897A2;
}

h1 {
    font-size: 3em;
}

button {
    padding: 10px;
    margin: 15px;
    border: none;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline:0;
}

.counter-card {
  border: 5px black solid;
  margin: 50px;
  padding: 50px;
  background-color: #94D5DB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
