html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/wow.png') bottom center no-repeat;
  background-size: cover;
  font-size: 1em;
  height: 100%;
}

.centered {
  padding: 0 3.125em;
  font-family:'Montserrat', sans-serif;
  background: #f16059;
}

h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
